<launch>

    <remap from="/mementar/echo" to="/ActionRecognition/inputFacts"/>

    <arg name="name" default="PR2"/>
    <arg name="yaml_path" default="$(find procedural)/src/reader/test.yaml"/>
    <arg name="ttl_buffer" default="25"/>
    <arg name="max_size_buffer" default="500"/>

    <include file="$(find procedural)/launch/ontologenius_mementar.launch">
        <!-- arg name="name" value="$(arg onto_display)"/-->
    </include>
    <node name="recognition" pkg="procedural" type="recognition" output="screen" args="-n $(arg name) -d $(arg yaml_path) -t $(arg ttl_buffer) -s $(arg max_size_buffer)"/>

</launch>