<launch>

    <include file="$(find procedural)/launch/ontologenius_mementar_multi.launch">
        <arg name="onto_files" value="
        $(find common_ground_ontology)/CG_root.owl
        $(find common_ground_ontology)/ris_agents.owl
        $(find overworld)/ontologies/adream_building.owl
        $(find dt_resources)/ontologies/dt_objects.owl
        $(find procedural)/ontologies/recognition.owl
        $(find procedural)/ontologies/agents.owl"/>
        <arg name="mementar_config_file" value="$(find procedural)/configs/mementar.yaml"/>
        <arg name="onto_config_file" value="$(find procedural)/configs/ontologenius.yaml" />
    </include>

    <arg name="yaml_path" default="$(find procedural)/src/reader/test.yaml"/>
    <arg name="ttl_buffer" default="25"/>
    <arg name="max_size_buffer" default="500"/>
    <arg name="name" default="pepper"/>
    
    <node name="recognition" pkg="procedural" type="recognition" output="screen" args="-n $(arg name) -d $(arg yaml_path) -t $(arg ttl_buffer) -s $(arg max_size_buffer)"/>

</launch>